@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff;
    --foreground: #000;
  }
}

@media (max-width: 87.5rem) {
  .home {
    padding: 6rem 3rem;
    height: auto;
  }

  .events {
    flex-direction: column;
    justify-content: space-between;
    gap: 3rem;
    width: 50%;
  }

  .event-container {
    @apply border-l border-gray-400;
    padding: 0 1.25rem;
  }
}

@media (max-width: 56.25rem) {
  .events {
    width: 70%;
  }
}

@media (max-width: 37.5rem) {
  body {
    @apply text-sm;
  }
  .slogan {
    text-align: center;
  }
  .events {
    width: 100%;
  }
  .event-container {
    height: auto;
  }
  .title-logo {
    @apply text-lg;
  }
}

@media (max-width: 28rem) {
  .register-visit {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    gap: 1rem;
    margin-top: 1rem;
  }
  .title-logo {
    flex-direction: column-reverse;
    align-items: flex-start;
    height: auto;
    margin: 1rem 0;
    gap: 1rem;
  }
}

body {
  color: var(--foreground);
  background: linear-gradient(#e7e7e7, var(--background));
  font-family: Arial, Helvetica, sans-serif;
}
